.raleway {
	font-family: 'Raleway';
}

body {
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	background-color: #3b3b3b;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-left: 10px;
	margin-right: 10px;
}

.btn-primary {
	background-color: #000000;
	border: none;
	border-radius: 20px!important;
	color: #ffffff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px!important;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.btn-primary:hover {
	background-color: #000000!important;
}

.btn-primary:focus {
	background-color: #000000!important;
}

.btn-primary:active {
	background-color: #000000!important;
}

.home-margin {
	margin-right: 10px!important;
	margin-left: 10px!important;
}

.guide {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
span,
a {
	color: white!important;
}

img {
	width: 300px;
}

.img-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centered-row>div {
	float: none;
	margin: 0 auto;
}

.modal {
	--bs-modal-bg: #3b3b3b!important;
}

.user-icon, .bot-icon {
	margin-right: 10px; /* Adjust the value as needed */
}

.user-icon{
	margin-left: 3px;
}

::selection {
	background-color: #169441;
	color: white;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: transparent;
	margin: 10px;
}

::-webkit-scrollbar-thumb {
	background: #3b3b3b;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3b3b3b;
}